@charset "utf-8";

/* 전체 */
#wrap {
    width: 100%; height: 100%;
}

/* 헤더 */
#header {
    z-index: 100;
    position: fixed; 
    width: 100%; height: 10%; 
}
.header-wrap {
    width: 70%; 
    height: 60%; 
    margin: 0 auto;  
    background-color: rgba(0,0,0,.4);
}
.header-wrap ul {
    text-align: center;
}
.header-wrap ul li {
    display: inline-block;  padding: 0.5rem 4%;
    font-size: 2vw; color: white;
    font-family: 'omyu_pretty';
    cursor: pointer;
}

.modalImo {
    position: fixed;
    bottom: 10%;
    right: 0;
    cursor: pointer;
}

.modalImo img {
    max-width: 100%; height: auto;
}

/* 메인 부분 */
#main {
    width: 100%; height: 100%; 
    
}

/* 섹션1 배경 컬러 체인지 */
#section1 {
    width: 100%; height: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.section1-wrap {
    width: 100%; height: 50%;
    text-align: center;
    
}
.section1-wrap h2 {
    font-family: 'KCCChassam';
    font-size: 3.5vw;
    margin: 2rem 0 2rem 0;
    white-space: nowrap;
}
.section1-wrap button {
    border-radius: 1rem;
    padding: 1rem 2rem; 
    font-size: 2.5vw; font-weight: bold; 
    font-family: 'omyu_pretty';
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 7px 5px 5px grey;
    cursor: pointer;
}
.section1-wrap button:hover {
    padding: 1.5rem 2.5rem;
    opacity: .9;
}

/* 섹션2 카드 플립 */
#section2 {
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/main-bg.png);
    background-attachment: fixed;
}
.section2-wrap {
    width: 100%; height: 80%; 
    text-align: center;
}
.section2-wrap h2 {
    color: aliceblue; font-size: 5vw;
}
.section2-wrap ul {
    width: 100%; height: 100%;
    margin-top: 3rem;
    text-align: center;
}
.section2-wrap ul li {
    position: relative;
    width: 27%; height: 70%;
    margin: 0 2%;
    display: inline-block;
    transition: .6s;
    transform-style: preserve-3d;
}
.section2-wrap ul li:hover {
    transform: rotateY(180deg);
}
.back {
    position: absolute;
    width: 100%; height: 100%;
    border-radius: 4%;
    backface-visibility: hidden;
    background-color: rgba(4, 4, 4, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.back h3 {
    font-size: 3vw;
    color: aliceblue;
}
.front1 {
    position: absolute;
    width: 100%; height: 100%;
    border-radius: 4%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: rgba(4, 4, 4, .7);
    background-image: url(../img/sec2-1.jpg);
    background-size: cover;
    opacity: .7;
}
.front2 {
    position: absolute;
    width: 100%; height: 100%;
    border-radius: 4%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: rgba(4, 4, 4, .7);
    background-image: url(../img/sec2-2.jpg);
    background-size: cover;
    opacity: .7;
}
.front3 {
    position: absolute;
    width: 100%; height: 100%;
    border-radius: 4%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: rgba(4, 4, 4, .7);
    background-image: url(../img/sec2-3.png);
    background-size: cover;
    opacity: .7;
}




#section3 {
    width: 100%; height: 100%;
}
.section3-wrap {
    width: 100%; height: 100%;
}

#section4 {
    width: 100%; height: 100%; background-color: blue;
}
.section4-wrap {
    width: 100%; height: 100%;
}

#section5 {
    width: 100%; height: 100%; background-color: greenyellow;
}
.section5-wrap {
    width: 100%; height: 100%;
}

/* 모달창 */
.modal {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; height: 100%; 
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal .xImo {
    position: absolute;
    top: 4%;
    right: 4%;
    width: 5%;
    cursor: pointer;
}
.modal div {
    width: 70%; height: 80%;
    text-align: center;
    background-color: aliceblue;
    overflow-y: scroll;
}
.modal div h3 {
    margin: 3%;
}
.modal div input {
    width: 20rem;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 5%;
}
.modal div button {
    width: 4rem;
    height: 2rem;
    cursor: pointer;
}
.modal div button:hover {
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
}
.modal div ul {
    margin: 0 auto;
    width: 90%;
    list-style: decimal;
    text-align: left;
}
.modal div ul li {
    margin: 1.5% 2%;
    padding-bottom: 1%;
    border-bottom: 1px solid #000;
    
}
.modal div ul li img {
    width: 1.5rem;
    float: right;
    margin-right: 5%;
    cursor: pointer;
}